# Copyright (c) .NET Foundation and Contributors
# See LICENSE file in the project root for full license information.

trigger:
  branches:
    include:
      - main
      - develop
      - release-*
  paths:
    exclude:
      - .gitignore
      - CHANGELOG.md
      - LICENSE.md
      - README.md
      - NuGet.Config
      - assets/*
      - .github/*

  tags:
    include: 
      - v*

# PR always trigger build
pr:
  autoCancel: true

# add nf-tools repo to resources (for Azure Pipelines templates)
resources:
  repositories:
    - repository: templates
      type: github
      name: nanoframework/nf-tools
      endpoint: nanoframework

variables:
  - name: DOTNET_NOLOGO
    value: true
    
jobs:

##############################
- job: Build_Library
  condition: >-
    and(
      not(startsWith(variables['Build.SourceBranch'], 'refs/tags/v')),
      or(
        eq(variables['UPDATE_DEPENDENTS'], 'false'),
        eq(variables['StartReleaseCandidate'], 'true')
      )
    )
  pool:
    vmImage: 'windows-latest'

  variables:
    - group: sign-client-credentials
    - name: buildPlatform
      value: 'Any CPU'  
    - name: buildConfiguration
      value: 'Release'
    - name: solution
      value: 'nanoFramework.Device.Can.sln'

  steps:

  # build step only
  - template: azure-pipelines-templates/class-lib-build-only.yml@templates
    parameters:
      sonarCloudProject: 'nanoframework_lib-nanoFramework.Devices.Can'
      runUnitTests: false
      unitTestRunsettings: '$(System.DefaultWorkingDirectory)\.runsettings'

  # build the 4 libs step
  - template: azure-pipelines-templates/class-lib-package.yml@templates  
    parameters:
      nugetPackageName: 'nanoFramework.Device.Can.Core'

  #- template: azure-pipelines-templates/class-lib-package.yml@templates  
  #  parameters:
  #    nugetPackageName: 'nanoFramework.Device.Can.Esp32'

  #- template: azure-pipelines-templates/class-lib-package.yml@templates  
  #  parameters:
  #    nugetPackageName: 'nanoFramework.Device.Can.Mcp2515'

  - template: azure-pipelines-templates/class-lib-package.yml@templates  
    parameters:
      nugetPackageName: 'nanoFramework.Device.Can.Stm32'

  # publish the libs
  - template: azure-pipelines-templates/class-lib-publish.yml@templates

  # create GitHub release build from main branch
  - task: GithubRelease@1
    condition: >-
      and(
        succeeded(),
        eq(variables['System.PullRequest.PullRequestId'], ''),
        startsWith(variables['Build.SourceBranch'], 'refs/heads/main'),
        not(contains(variables['Build.SourceBranch'], 'preview')),
        eq(variables['StartReleaseCandidate'], false)
      )
    displayName: Create/Update GitHub release
    inputs:
      action: edit
      gitHubConnection: 'github.com_nano-$(System.TeamProject)'
      tagSource: userSpecifiedTag
      tag: v$(MY_NUGET_VERSION)
      title: 'nanoFramework.Device.Can Library v$(MY_NUGET_VERSION)'
      releaseNotesSource: inline
      releaseNotesInline: 'Check the [changelog]($(Build.Repository.Uri)/blob/$(Build.SourceBranchName)/CHANGELOG.md).<br><br><h4>Install from NuGet</h4><br>The following NuGet packages are available for download from this release:<br>:package: [nanoFramework.Device.Can.Core](https://www.nuget.org/packages/nanoFramework.Device.Can.Core/$(MY_NUGET_VERSION)) v$(MY_NUGET_VERSION).<br>:package: [nanoFramework.Device.Can.Esp32](https://www.nuget.org/packages/nanoFramework.Device.Can.Esp32/$(MY_NUGET_VERSION)) v$(MY_NUGET_VERSION).<br>:package: [nanoFramework.Device.Can.Mcp2515](https://www.nuget.org/packages/nanoFramework.Device.Can.Mcp2515/$(MY_NUGET_VERSION)) v$(MY_NUGET_VERSION).<br>:package: [nanoFramework.Device.Can.Stm32](https://www.nuget.org/packages/nanoFramework.Device.Can.Stm32/$(MY_NUGET_VERSION)) v$(MY_NUGET_VERSION).'
      assets: '$(Build.ArtifactStagingDirectory)/*.nupkg'
      assetUploadMode: replace
      isPreRelease: false
      addChangeLog: false

##############################
- job: Update_Dependents
  condition: >-
    or(
      and(
        startsWith(variables['Build.SourceBranch'], 'refs/tags/v'),
        eq(variables['StartReleaseCandidate'], 'false')
      ),
      and(
        contains(variables['getCommitMessage.COMMIT_MESSAGE'], '***UPDATE_DEPENDENTS***'),
        eq(variables['StartReleaseCandidate'], 'false')
      ),
      eq(variables['UPDATE_DEPENDENTS'], 'true')
    )

  pool:
    vmImage: 'windows-latest'

  variables:
    DOTNET_NOLOGO: true

  steps:
  # need this here in order to persist GitHub credentials 
  - checkout: self
    fetchDepth: 1

##################################
# report build failure to Discord
- job: Report_Build_Failure
  
  dependsOn:
  - Build_Library
  - Update_Dependents
  condition: >-
    or(
      failed('Build_Library'),
      failed('Update_Dependents')
    )

  pool:
    vmImage: 'windows-latest'

  steps:
  
  - checkout: self

  # step from template @ nf-tools repo
  # report error
  - template: azure-pipelines-templates/discord-webhook-task.yml@templates  
    parameters:
      status: 'failure'
      webhookUrl: '$(DiscordWebhook)'
      message: ''
